<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="st1" class="org.example.Student" autowire="byName">
<!--        <property name="writer" ref="pen"/>-->
    </bean>

    <bean id="st2" class="org.example.Student" autowire="byType">
<!--        <property name="writer" ref="pencil"/>-->
    </bean>

    <bean id="pen" class="org.example.Pen" primary="true"/>
    <bean id="pencil" class="org.example.Pencil"/>
    <bean id="sketch" class="org.example.Sketch"/>

</beans>
